.blog-tags-with-series {
  margin-bottom: 0px;
}

.blog-series {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
  font-size: 15px;
  margin-bottom: 30px;
}

.blog-series:before {
  content: "Series: ";
}

.blog-series a {
  color: #008aff;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-series a:hover {
  border-radius: 2px;
  color: #008aff;
  background-color: #ccc;
}
